{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semja Vehicle Registration Form</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <form id="userregistrationForm">
                <div class="row" style="text-align:center">
                    <img src="{% static 'img/logo.JPG' %}" alt="logo image">
                    <h3>User Registration Form</h3>
                </div>
                <fieldset class="fieldset-container">
                    <legend><span class="number">1</span> Field Executive Info</legend>
                    <input type="text" id="emailfieldexecutive" name="emailfieldexecutive" placeholder="Enter Email" onclick="editEmailFieldExecutive()" onkeypress="EmailvenVehKeyPress(event, function() { document.getElementById('check_email_button').click(); })"required>
                    <div id="fieldexecutivedetails">
                        <div class="flex-container">
                            <div class="span-item-left">
                                <span >Field Executive Name:</span>
                                <div>
                                    <span  id="fieldexecutivename"></span>
                                </div>
                            </div>
                            <div class="button-item-right">
                                <button id="check_email_button" type="button" class="info-button" onclick="FieldExecutiveEmailInfo('{% url 'check_field_executive_email' %}')">Check to Next</button>
                            </div>
                        </div>
                    </div>
                </fieldset>

                

                <fieldset id="contact" style="display: none;">
                    <legend><span class="number">2</span>User Contact </legend>
                    <input type="text" id="contactnumber" name="contactnumber" placeholder="Enter Mobile Number" onclick="editContact()" onkeypress="ContactvenVehKeyPress(event, function() { document.getElementById('contactbutton').click(); })" oninput="formatMobileNo(event)" maxlength="10" >
                    <div id="numberstatus">
                        <div class="flex-container">
                            <div class="span-item-left">
                                <span>Number Status:</span>
                                <div>
                                    <span id="contactstatus"></span>
                                </div>
                            </div>
                            <div class="button-item-right">
                                <button id="contactbutton" type="button" class="info-button" onclick="validateContact('{% url 'check_user_contact' %}')">Check to Next</button>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset id="customername" class="fieldset-container" style="display: none;">
                    <legend><span class="number">3</span>User Name</legend>
                    <input type="text" id="username" name="username" placeholder="Enter your name" onkeypress="userSubmitKeyPress(event, function() { document.getElementById('submitBtn').click(); })" required>
                    <button id="submitBtn" type="button" onclick="submituserForm(event, '{% url 'update_spreadsheet_user_detail' %}')">Submit</button>
                </fieldset>

                <fieldset id="usersubmission" style="display: none;">
                    <div>
                        <p>Form Successfully submitted. Thanks for your response.</p>
                        <p><a href="#" onclick="returnToUserForm()">Return to Form</a></p>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script src="{% static '/js/userexe.js' %}"></script>
</body>
</html>

